@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
$backgrColor: #141e27;
$fontColorSection: #ffffff;
$fontSpecialColor: #00d483;

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-content: stretch;
  background: linear-gradient(
      rgba(20, 30, 39, 0.9) 100%,
      rgba(20, 30, 39, 0.9) 100%
    ),
    url(https://blogs.esa.int/space19plus/files/2019/03/nebula.jpg);
}

.container {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr;
  font-family: "Questrial", sans-serif;
  height: 80%;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  color: $fontColorSection;
  // border: 1px solid red;
}

form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: left;
}

.form-part {
  margin-top: 20px;
  font-size: large;
  display: block;
}

#heading {
  text-align: center;
  margin-bottom: 40px;
  font-size: 40px;
}

.input-id {
  width: 95%;
  padding-left: 2px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

input,
textarea {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  margin-bottom: 3px;
  border-radius: 5px;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
}

.error {
  color: rgb(236, 65, 65);
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.button-part {
  text-align: center;
  margin-top: 10px;
}

button {
  width: 100px;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
  background-color: #00d483;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px rgb(117, 117, 117);
  color: #373838;

}

button:hover{
  background-color: #00ff9d;
}

button:active {
  box-shadow: 0 3px rgb(66, 66, 66);
  transform: translateY(4px);
}

button[disabled] {
  background-color: #005534;
  cursor: not-allowed;
  color: #373838c0;
  box-shadow: 0 5px rgb(34, 34, 34);

}

.socials-container {
  // border: 1px solid red;
  display: flex;
  // position: relative;
  width: 100%;
  height: 20%;
  margin-bottom: 30%;
  
}

.socials {
  // border: 1px solid red;
  display: grid;
  width: 100%;
  grid-template-columns: 3fr 2fr 2fr 2fr 3fr;
  grid-template-rows: 1fr;
  grid-gap: 2em;
  // background-color: $fontSpecialColor;
  justify-items: center;
}

#fb {
  grid-column: 2/3;
}

#git {
  grid-column: 3/4;
}

#ig {
  grid-column: 4/5;
}

.socials i {
  color: $fontColorSection;
}

.socials i:hover {
  opacity: 0.6;
  color: #00d483;
  transition: all 0.1s ease;
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 500px) {
  .container {
    margin-top: 6vh;
  }

  .form-part {
    font-size: small;
  }

  input, textarea {
    font-size: small;
  }

}