@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
$backgrColor: #141E27;
$fontColorFooter: #c4c4c4;
$fontSpecialColor: #00d483;

footer {
    width: 100%;
    display: grid;
    background-color: $backgrColor;
    height: 10vh;

    grid-column: 1fr 1fr 1fr;
    grid-row: 1fr;

    font-size: 1.5rem;
    font-family: 'Questrial', sans-serif;
    color: $fontColorFooter;
}

.footer-text {
    grid-template-rows:2/3;
    justify-self: center;
    align-self: center;
}

span{
    color: $fontSpecialColor;

}