<header>
    <h1 class="logo"><span>Tayan</span> Hybrid Motors</h1>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
        <ul>
            <a routerLink="/">
                <li>HOME</li>
            </a>
            <a routerLink="/cars">
                <li>CARS</li>
            </a>
            <a routerLink="/contact">
                <li>CONTACT</li>
            </a>
        </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>
</header>