.product {
  height: 48px;
  width: 250px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 26px;
  padding-bottom: 26px;
  float: left;
  text-align: center;
  background-color: rgb(20, 145, 107);
}