@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
$backgrColor: #141e27;
$fontColorSection: #ffffff;
$fontSpecialColor: #00d483;

.container {
  background: linear-gradient(
      rgba(20, 30, 39, 0.9) 100%,
      rgba(20, 30, 39, 0.9) 100%
    ),
    url(https://blogs.esa.int/space19plus/files/2019/03/nebula.jpg);
  padding: 10%;
  flex: 1 1 80%;
  font-family: "Questrial", sans-serif;
  min-height: 100vh;
  color: $fontColorSection;
}

.frame {
  position: relative;
  display: grid;
  height: 100%;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 20px;
}

@media screen and (max-width: 800px) {
  .frame {
    position: relative;
    display: grid;
    height: 100%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0 20px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    margin-top: 6vh;
  }
}
