@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
$backgrColor: #141E27;
$fontColorSection: #ffffff;
$fontSpecialColor: #00d483;

.container {
    box-sizing: border-box;
    // background-color: $backgrColor;
    background:linear-gradient( rgba(20, 30, 39, 0.9) 100%, rgba(20, 30, 39, 0.9)100%),url(https://blogs.esa.int/space19plus/files/2019/03/nebula.jpg);
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 5fr 1fr;
    grid-template-rows: 1fr 2fr;
    font-family: 'Questrial', sans-serif;
    height: 95vh;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    color: $fontColorSection;

    
}
span {
    color: $fontSpecialColor;
}
.slogan {
    position: relative;
    font-size:5rem;
    grid-column: 2/3;
    grid-row: 1/1;
    align-self: center;

    // border: 2px solid red;
}

.description {
    position: relative;
    font-size: 1.5rem;
    width: 90%;
    grid-column: 2/3;
    grid-row: 2/2;
    align-self: start;
    justify-self: left;
    margin-top: 1em;
}

@media screen and (max-height:560px){

    .container {
        grid-template-columns: 1fr 5fr 1fr;
        grid-template-rows: 1fr 2fr;
        font-family: 'Questrial', sans-serif;
        height: 95vh;       
        color: $fontColorSection;
    
        
    }
    .description {
        position: relative;
        font-size: 1.2rem;
        width: 100%;
        grid-column: 2/3;
        grid-row: 2/2;
        align-self: start;
        justify-self: left;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .slogan {
        position: relative;
        font-size: 2.5rem;
        grid-column: 2/3;
        grid-row: 1/1;
        align-self: center;
    
        // border: 2px solid red;
    }
}
@media screen and (max-width:800px){

    .container {
        grid-template-columns: 1fr 5fr 1fr;
        grid-template-rows: 1fr 2fr;
        font-family: 'Questrial', sans-serif;
        height: 95vh;       
        color: $fontColorSection;
    
        
    }
    .description {
        position: relative;
        font-size: 1.2rem;
        width: 100%;
        grid-column: 2/3;
        grid-row: 2/2;
        align-self: start;
        justify-self: left;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .slogan {
        position: relative;
        font-size: 2.5rem;
        grid-column: 2/3;
        grid-row: 1/1;
        align-self: center;
    
        // border: 2px solid red;
    }
}